[Unit]
Description=Service to suns monitor
After=multi-user.target

[Service]
# Alterado na instalação
User=#user#

WorkingDirectory=/opt/suns_monitor
#Environment="PATH=/opt/suns_monitor/virtualEnv/bin"
ExecStart=python3 app/suns_monitor.py

[Install]
WantedBy=multi-user.target
